In [1]:
import pandas as pd
import datetime as dt

# modify csv file putting column names in the first row
# note that integers cannot have coma separators (removed them by formating number differently)

#STEPS has been recorded in STEPS directory pay attention on the syntax in brackets 
steps=pd.read_csv(r'C:\Users\ciuqu\PYTHON\PYTHON-SCRIPTS\STEPS\steps_csv.csv')
steps

     PARTICIPANT        DATE  STEPS
0          Ali C  14/06/2020   2875
1          Elisa  14/06/2020   9747
2        Chris C  14/06/2020  11402
3      Annabelle  14/06/2020  11588
4         Tricia  14/06/2020  12939
...          ...         ...    ...
1669     Chris C  31/12/2020  10688
1670       Stacy  01/01/2021   4981
1671     Chris C  01/01/2021  11106
1672       Stacy  02/01/2021  13380
1673     Chris C  02/01/2021  14417

[1674 rows x 3 columns]

In [2]:
steps.columns
steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PARTICIPANT  1674 non-null   object
 1   DATE         1674 non-null   object
 2   STEPS        1674 non-null   int64
dtypes: int64(1), object(2)
memory usage: 39.4+ KB

In [3]:
# change 'PARTICIPANT' column to string
# change 'DATE' column to datetime

steps['PARTICIPANT'].astype(str)
steps['DATE'] = pd.to_datetime(steps['DATE'])
steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1674 entries, 0 to 1673
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PARTICIPANT  1674 non-null   object
 1   DATE         1674 non-null   datetime64[ns]
 2   STEPS        1674 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 39.4+ KB

In [6]:
# df['weekday'] = df['Timestamp'].dt.dayofweek
steps['weekday']= steps['DATE'].dt.dayofweek
steps

     PARTICIPANT       DATE  STEPS  weekday
0          Ali C 2020-06-14   2875        6
1          Elisa 2020-06-14   9747        6
2        Chris C 2020-06-14  11402        6
3      Annabelle 2020-06-14  11588        6
4         Tricia 2020-06-14  12939        6
...          ...        ...    ...      ...
1669     Chris C 2020-12-31  10688        3
1670       Stacy 2021-01-01   4981        4
1671     Chris C 2021-01-01  11106        4
1672       Stacy 2021-02-01  13380        0
1673     Chris C 2021-02-01  14417        0

[1674 rows x 4 columns]

In [11]:
# Participants mean weekday steps = pmwds

pmwds=steps['STEPS'].groupby([steps['PARTICIPANT'], steps['weekday']]).mean()

# print the grouped data

print(pmwds)

PARTICIPANT  weekday
Ali C        0           4868.000000
             1           6868.000000
             2           3620.000000
             3           3075.000000
             4           5620.000000
                            ...
Vicky        2          11263.000000
             3          12890.333333
             4           7792.500000
             5           7596.000000
             6           5055.333333
Name: STEPS, Length: 132, dtype: float64

In [12]:
# Printing an entire DataFrame results in every row and column of the DataFrame being printed.

pd.set_option("display.max_rows", None, "display.max_columns", None)

print(pmwds)

PARTICIPANT  weekday
Ali C        0           4868.000000
             1           6868.000000
             2           3620.000000
             3           3075.000000
             4           5620.000000
             5           2768.000000
             6           2875.000000
Ally W       0          12806.620690
             1          11094.068966
             2          11766.392857
             3          12171.740741
             4          13433.500000
             5          13960.964286
             6          13608.035714
Annabelle    0           9369.750000
             1           5542.333333
             2           3687.333333
             3          11384.333333
             4           3483.000000
             5           4459.500000
             6           9521.750000
Annabelle    0           2516.500000
             1          14940.000000
             2            425.000000
             4            519.000000
             5          10352.000000
             6           5472.000000
Chris C      0          12328.966667
             1          12691.800000
             2          11732.655172
             3          10767.620690
             4          13170.137931
             5          12972.357143
             6          12478.750000
Chris P      0          13328.857143
             1          13387.068966
             2          12099.142857
             3          13337.185185
             4          13257.964286
             5          15839.928571
             6          13122.642857
Elisa        0           9486.333333
             1           5782.500000
             2          13315.000000
             3           7827.000000
             4           8991.500000
             5           7937.500000
             6           7433.666667
Lauren       0          11541.142857
             1          10602.750000
             2          14330.111111
             3          11098.222222
             4          13883.777778
             5          12908.909091
             6          11331.900000
Lili         0           9181.454545
             1           8764.090909
             2           8158.375000
             3           8840.727273
             4           6786.086957
             5           6107.200000
             6           9970.666667
Lynda        0           2713.714286
             1           3461.714286
             2           3759.333333
             3           3715.750000
             4           4048.833333
             5           1838.500000
             6           1864.800000
Lyndsay      0           8494.250000
             1           9793.666667
             2           8398.200000
             3           6025.800000
             4           6511.250000
             5           5681.800000
             6          11246.000000
Nat          0          13089.666667
             1           6782.181818
             2           8997.111111
             3           9216.250000
             4           6998.125000
             5          11807.875000
             6          11856.000000
Pete C       0           3703.571429
             1           3198.428571
             2           3879.166667
             3           4151.833333
             4           3910.714286
             5           4202.000000
             6           4777.500000
Pete R       0           4494.500000
             1           7650.857143
             2           6426.250000
             3           4153.400000
             4           4589.500000
             5           4538.166667
             6          11097.750000
Rachel       0          13525.000000
             1           8417.200000
             2           4569.500000
             3          10160.000000
             4          11280.000000
             5           6731.000000
             6           7084.333333
Sarah        0           8159.285714
             1           8651.833333
             2          10212.437500
             3           8141.307692
             4           8481.533333
             5           8010.454545
             6           7980.875000
Stacy        0          14368.233333
             1          12813.700000
             2          12069.000000
             3          13236.357143
             4          11975.965517
             5          12111.214286
             6          11931.862069
Tricia       0           7416.275862
             1           7994.551724
             2           8624.142857
             3           8369.370370
             4           9346.642857
             5          10098.250000
             6           8380.310345
Vicky        0           7503.000000
             1          15775.166667
             2          11263.000000
             3          12890.333333
             4           7792.500000
             5           7596.000000
             6           5055.333333
Name: STEPS, dtype: float64

In [43]:
# Competition participants mean weakday steps

competitors= ['Lili','Stacy','Tricia', 'Lauren', 'Pete C', 'Chris P', 'Chris C', 'Ally W']
print("Lili's weakest weekday:")
print(pmwds['Lili'].min()) 
print ('steps')

Lili's weakest weekday:
6107.2
steps

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [44]:
pmwds.groupby([pmwds['competitors'], pmwds['weekday']]).min()

KeyError: 'competitors'